.deleteReviewModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.deleteReviewModal h2 {
    margin: 10px 0 0 0;
}

.deleteReviewModal button {
    width: 100%;
    margin: 10px 0 0 0;
    height: 33px;
    background-color: rgb(233, 84, 29);
    box-shadow: 2px 2px 2px black;
    color: white;
}

#keepReview {
    background-color: rgb(143, 141, 141);
}