.createSpotButton {
    text-decoration: none;
    color: rgb(45, 80, 183);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
    padding: 20px 10px 20px 10px;
}

#bars {
    background-color: white;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bars i {
    font-size: 22px;
    margin: 0 3px 0 3px;
}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#home img {
    width: 30px;
}

#home:hover {
    cursor: pointer;
}

#logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: rgb(220, 92, 92);
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    /* position: relative; */
}

#profile div {
    /* display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* width: 75px;
    height: 40px;
    border: 1px black solid;
    border-radius: 20px; */
}

/* #profileButton {
    display: flex;
    flex-direction: column;
} */

#profileButton button {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    width: 75px;
    height: 40px;
    border: 2px solid rgb(61, 60, 60);
    border-radius: 20px;
}

#bars:hover {
    cursor: pointer;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    border: 2px solid rgb(61, 60, 60);
    right: 4%;
    top: 70px;
    background-color: white;
    padding: 10px 15px 10px 15px;
    gap: 5px;
}

.profile-dropdown div {
    display: flex;
    flex-direction: column;
}

#profile-dropdown-part1 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid black;
}

#profile-dropdown-part2 a {
    text-decoration: none;
    color: rgb(45, 80, 183);
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-bottom: 1px solid black;
}

#profile-dropdown-part3 {
    padding-top: 10px;
    gap: 5px;
}

#profile-dropdown-part3 button {
    height: 30px;
    color: white;
    background-color: gray;
}

#profile:hover {
    cursor: pointer;
}