
.profile-dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

#home:hover {
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#profile:hover {
    cursor: pointer;
}
